.login-container-outer{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    background: var(--background-secondary, #FAFAFA);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);
    width: 30%;
}

.logo-header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-container-login h2{
    color: var(--text, #252525);
    font-family: Manrope;
    font-size: 10px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.logo-header-container h1{
    color: var(--primary, #455487); 
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.innerContainer button{
    display: flex;
    padding: 8px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--primary, #455487);
    color: var(--background-secondary, #FAFAFA);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.innerContainer input{
    width: 100% !important;
    background: var(--background, #EEE);
    margin: 0;
}

.switch-to-sign-up{
    display: flex;
    width: 269px;
    gap: 20px;
    color: var(--text, #252525);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap !important;
}

.sign-up {
    color: var(--primary, #455487) !important;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;
}

.input-container p {
    color: var(--grey, #606060);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.profile-picture {
    display: flex;
    height: 30px;
    width: 30px;
    overflow: hidden;
    padding: 10.5px 7px 10.955px 13px;
    border-radius: 100px;
    background: var(--background, #EEE);
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .innerContainer {
        width: 60%
    }
}
