.login-container-outer{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.innerContainer{
    width: 480px;
    height: 514px;
}
.logo-container h2{
    color: var(--text, #252525);
    font-family: Manrope;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}